/*
=========================
General Styling
=========================
*/

body {
  font-size: 14px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*
=========================
Header Styling
=========================
*/

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 3% auto 0;
}

#logo {
  width: 35%;
}

#logo a img {
  width: 100%;
}

#shopping-cart {
  width: 15%; height: 15%;
}

#shopping-cart a img {
  width: 100%;
}

/*
=========================
Navigation Styling
=========================
*/

header nav {
  order: 1;
  margin: 2% 0 0;
  width: 100%;  
}

header nav ul {
  border-top: 1px solid #d7d7d7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0;
  padding: 3% 3%;
}

header nav ul li {
  text-align: center;
  width: 100px;
}

header nav ul li a {
  color: #e2574c;
  font-family: 'Raleway Light', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

/*
=========================
Hero Banner Styling
=========================
*/

.hero-banner {
  position: relative;
  background: url("images/flower-bkgd.jpg") repeat-x center scroll;
  background-size: 850px;
  height: 530px;
  background-position-x: -200px;
  color: white;
  z-index: -2;
}

.hero-banner h1, .hero-banner h3 {
  text-align: center;
}

.hero-banner h3 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-family: 'Raleway Medium', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.hero-banner h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Playfair Display Regular', sans-serif;
  font-size: 3em;
  font-weight: lighter;
  line-height: 1em;
}

.hero-banner div {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("images/banner-girl.png") no-repeat scroll bottom;
  background-size: 40%;
  width: 100%;
  height: 107%;
  z-index: -1;
}

/* 
=========================
Main Styling
=========================
*/

main {
  background-color: white;
  text-align: center;
}

main article {
  margin: 0 auto;
  padding: 12% 0;
}

#products-and-info h2 {  
  font-family: 'Playfair Display Italic', sans-serif;
  font-weight: lighter; 
}

#products-and-info h2 span {
  font-family: 'Playfair Display Bold', sans-serif;
}

/* 
=========================
Main Products Styling
=========================
*/

.info-main {
  width: 90%;
}

#products-and-info h2 {
  font-size: 3em;
}

.info-main p {
  font-family: 'Raleway Medium', sans-serif;
  font-size: 1.3em;
  line-height: 2em;
  padding: 3% 0;
}

.main-products ul li {
  height: 0;
  position: relative;
}

.main-products .wide-pic {
  padding-top: 50%;
}

.main-products .square-pic {
  padding-top: 100%;
}

.main-products ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-products ul li h5 {
  margin: 0;
  color: white;
  font-family: 'Raleway Light', sans-serif;
  font-size: 2em;
  text-shadow: 2px 2px 5px rgb(100, 100, 100);
  text-transform: uppercase;
}

.main-products ul {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f";
}

.product-men {
  grid-area: a;
  background: url(images/mens-category.jpg) center no-repeat;
  background-size: 100%;
}

.product-trends {
  grid-area: b;
  background: url(images/trends-category.jpg) center no-repeat;
  background-size: 100%;
}

.product-glasses {
  grid-area: c;
  background: url(images/glasses-category.jpg) center no-repeat;
  background-size: 100%;
}

.product-sale {
  grid-area: d;
  background: url(images/sale-category.jpg) center no-repeat;
  background-size: 100%;
}

.product-bags {
  grid-area: e;
  background: url(images/bags-category.jpg) center no-repeat;
  background-size: 100%;
}

.product-women {
  grid-area: f;
  background: url(images/womens-category.jpg) center no-repeat;
  background-size: 100%;
}

/* 
=========================
Favourite Products Styling
=========================
*/

.favourite-item-2, .favourite-item-3, .favourite-item-4 {
  display: none;
}

.favourite-products ul li a img { 
  width: 85%;
}

.favourite-products ul li a p {
  color: #969696;
  font-family: 'Raleway Medium', sans-serif;
}

.descriptor {
  text-transform: uppercase;
  font-size: 0.75em;
}

.item-name {
  color: #e2574c;
  font-family: 'Playfair Display Regular', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}

/* 
=========================
Registration Form Styling
=========================
*/

#update-registration {
  margin: 1% 0;
  background-size: 100% 255%;
  color: white;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/wave-bkgd.jpg) bottom no-repeat;

}

#update-registration h2 {
  margin: 0;
  padding: 10% 0 2%;
  font-size: 2.5em;
}

#update-registration p {
  margin: 0;
  padding: 2% 2.5%;
  font-size: 1.4em;
  line-height: 1.8em;
}

#update-registration form { 
  padding: 5% 0 12.5%;
}

/* 
=========================
Email Submission Styling
=========================
*/

.email-submission input {
  position: relative;
  border: 0px solid white;
  border-radius: 50px;
}

#user-email {
  color: #969696;
  font-family: 'Raleway Light', sans-serif;
  padding: 5%;
  height: 0;
  width: 80%;
}

#subscribe-email {
  text-align: center;
  color: white;
  background-color: #e2574c;
  font-family: 'Raleway Medium', sans-serif;
  padding: 4.4%;
  height: 0;
  width: 30%;
}

/* 
=========================
Footer Styling
=========================
*/

footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 50px 60px;
  background-color: #242424;
}

footer p, footer a {
  color: white;
}

footer a:hover {
  color: white;
}

/* 
=========================
Additional Information Styling
=========================
*/

.additional-information {
  font-family: 'Playfair Display Bold', sans-serif;
}


.address-information p {
  color: #969696;
}

/* 
=========================
Social Media Styling
=========================
*/

.social-media {
  width: 50%;
}

.social-media ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.social-media ul a {
  padding: 10% 30%;
}

.social-media ul li a p {
  display: none;
}
