/* 
=========================
General Styling
=========================
*/

body {
  width: 1240px;
  margin: 0 auto;
}

/* 
=========================
Header Styling
=========================
*/

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#logo a img {
  width: 150px;
  height: 75px;
}

#shopping-cart a img {
  width: 70px;
  height: 70px;
}

/* 
=========================
Navigation Styling
=========================
*/

header nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

header nav ul li {
  width: 100px;
}

/* 
=========================
Opening Banner Styling
=========================
*/

.opening-banner {
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0,0,0,0.2)), url("images/flower-bkgd.jpg");
  background-attachment: scroll;
  background-repeat: repeat;
  background-size: 850px;
  height: 530px;
  background-position-x: -200px;
}

.opening-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.opening-banner h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
=========================
Main Styling
=========================
*/

#products h2, #products p {
  text-align: center;
}

/* 
=========================
update registration Styling
=========================
*/

#update-registration {
  text-align: center;
}

/* 
=========================
Footer Styling
=========================
*/

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #242424;
}

footer p, footer a {
  color: white;
  text-decoration: none;
}

/* 
=========================
Additional Information Styling
=========================
*/

.additional-information {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  line-height: 0;
}


.address-information p {
  color: #969696;
}